#loginblock{
  border: 1px solid transparent;
  height: 1080px;
  width: 1930px;
  background-color: aliceblue;
}


#loginform{
    background-color: aliceblue;
    background-size: 100% 100%;
    margin-left: 700px;
    margin-top: 100px;
    padding: 50px;
    width: fit-content;
    border-radius: 10px;
    height: 550px;
    position: absolute;
    z-index: 1;
    background-image: url(img/bg1.jpg);
  }

  
  #loginform input{
    width: 380px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(231, 231, 231);
  
  }
  
  #loginform b{
    margin-left: 172px;
    color: rgb(255, 94, 0);
    cursor: pointer;
  }
  
  #loginform button{
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    margin-left: 125px;
    background-color: rgb(255, 94, 0);
    color: white;
    box-shadow: 2px 2px 2px 1px rgb(180, 180, 180);
  }
  #loginform h1{
    margin-top: 100px;
    margin-left: 96px;
    margin-bottom: -10px;
  }

  #cancellog{
    position: absolute;
    margin-left: 422px;
    font-size: 25px;
    margin-top: -20px;
    cursor: pointer;
    color: red;

  }
  
  @keyframes closelogin {
    0%{
      margin-top: 100px;
      z-index: 2;
    }
    50%{
      margin-top: -200px;
      transform: scale(1);
      z-index: 2;
    }
    51%{
      z-index: 1;
    }
    100%{
      transform: scale(0.7);
    }
  }

  @keyframes openregister {
    0%{
      margin-top: 100px;
      z-index: 1;
    }
    50%{
      margin-top: 450px;
      transform: scale(0.7);
      z-index: 1;
    }
    51%{
      z-index: 2;
    }
    100%{
      transform: scale(1);
    }
  }
  